@font-face {
  font-family: 'Cocogoose_trial_2';
  src        : url("~assets/fonts/Cocogoose_trial_2.eot");
  src        : url("~assets/fonts/Cocogoose_trial_2.eot") format('embedded-opentype'), url("~assets/fonts/Cocogoose_trial_2.woff2") format('woff2'), url("~assets/fonts/Cocogoose_trial_2.woff") format('woff'), url("~assets/fonts/Cocogoose_trial_2.ttf") format('truetype'), url("~assets/fonts/Cocogoose_trial_2.svg#Cocogoose_trial_2") format('svg');
}